<div class="table-container px-3 sm:px-32 pt-5 max-w-full overflow-auto">
  <h1 class="justify-center font-bold mb-2 text-4xl text-primary-500">Cardápios</h1>

  <!-- Loading Spinner -->
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <!-- Tabs de Catálogos -->
  <mat-tab-group *ngIf="!isLoading" [(selectedIndex)]="activeTabIndex">
    <mat-tab *ngFor="let catalog of catalogs" [label]="catalogContextToString(catalog.catalogContext)">
    </mat-tab>
  </mat-tab-group>

  <div class="categories-container mt-8 space-y-8">
    <!-- Cabeçalho Categorias -->
    <div class="flex-col sm:flex-row flex justify-between">
      <h2 class="justify-center font-bold mb-2 text-3xl text-primary-500">Categorias</h2>
      <button mat-button (click)="updateOrCreateCategory()">
        Adiciona Categoria <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    
    <!-- Lista de Categorias -->
    <mat-card *ngFor="let category of categories" class="p-4">
      <div class="flex justify-between items-center">
        <h1 class="text-2xl font-bold">{{ category.name }}</h1>
        <div class="flex items-center">
          <mat-slide-toggle [checked]="category.status === 'AVALIABLE'">
            {{ category.status === 'AVALIABLE' ? 'Ativado' : 'Pausado' }}
          </mat-slide-toggle>
          <button *ngIf="category.template === 'DEFAULT'" mat-button 
                  (click)="updateOrCreateItemDefault({item: null, categoryId: category.id})">
            Adiciona Item <mat-icon>add_circle</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCategory(category)" 
                  matTooltip="Deletar a categoria e todos items dessa categoria">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      
      <!-- Lista de Itens -->
      <div class="items-container mt-4 space-y-4">
        <mat-card *ngFor="let item of category.items" class="flex flex-row w-full p-4 items-center">
          <!-- Imagem do Produto -->
          <img mat-card-image [src]="item.product.imagePath" 
               alt="{{ item.product.name }}" class="w-32 h-32 mr-4" *ngIf="item.product.imagePath">

          <!-- Informações do Produto -->
          <div class="flex-1">
            <h2 class="text-xl font-semibold">{{ item.product.name }}</h2>
            <p class="text-gray-600">{{ item.product.description }}</p>

            <!-- Context Modifier do Catálogo Ativo -->
            <ng-container *ngFor="let cm of item.contextModifiers">
              <div *ngIf="cm.catalogContext === catalogs[activeTabIndex]?.catalogContext">
                <p class="text-primary-600 font-bold">Preço: {{ cm.price?.value || 'N/A' }}</p>
                <p>Status: {{ cm.status === 'AVALIABLE' ? 'Ativo' : 'Pausado' }}</p>
              </div>
            </ng-container>
          </div>

          <!-- Status Slide-Toggle -->
          <div>
            <mat-slide-toggle [checked]="item.status === 'AVALIABLE'">
              {{ item.status === 'AVALIABLE' ? 'Ativado' : 'Pausado' }}
            </mat-slide-toggle>
          </div>
        </mat-card>
      </div>
    </mat-card>
  </div>
</div>
