
<div class="w-full z-50 fixed">
        <mat-toolbar  class=" !bg-[#fdfdfd] flex justify-between w-full !h-auto">
            <button (click)="toggleSideNav()">
                <mat-icon>menu</mat-icon>
            </button>
            <img class="w-10/12 sm:w-auto cursor-pointer sm:max-h-[20vh] h-auto lg:max-w-xs lg:h-full" routerLink="/" src="assets/images/rotafood-logo.png" />
            <button>
                <mat-icon>account_circle</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <div class="h-[100px]">
</div>  

