<app-default-layout>
    <app-default-form-container>
        <div class="flex flex-col justity-center text-center">
            <div class=" justify-center font-bold	 mb-2 text- text-xl text-gray-800 sm:text-2xl ">
                Crie sua Conta
            </div>
            <span class="justify-center text-sm text-center text-gray-500 flex-items-center ">
                Ja tem uma conta ?
                <a routerLink="/LoginDto" class="text-sm text-primary-500 underline hover:text-primary-700">
                    entrar
                </a>
            </span>
        </div>
        <mat-vertical-stepper [linear]="true" #stepper>
            <mat-step [completed]="merchantForm" label="Dados do Restaurante">
                <app-register-merchant-form (formChange)="handleFormSubmitMerchantForm($event)">
                    <button mat-raised-button type="submit" class="!w-full" color="primary"
                        matStepperNext>Próximo</button>
                </app-register-merchant-form>

            </mat-step>
            <mat-step [completed]="ownerForm" label="Dados do Administrador">
                <app-register-user-form  (formChange)="handleFormSubmitOwnerForm($event)">
                    <div class="flex flex-col sm:flex-row">
                        <button mat-raised-button class="!w-full" color="accent" matStepperPrevious>Voltar</button>
                        <app-spinner-button class="!w-full !text-xl" [isLoading]="isLoading" [type]="'button'"
                            (click)="onSubmit()">
                            Criar Conta
                        </app-spinner-button>
                    </div>
                </app-register-user-form>
            </mat-step>


        </mat-vertical-stepper>
    </app-default-form-container>
</app-default-layout>