<div class="mx-auto px-4 py-8 sm:px-6 sm:py-12 lg:px-8" id="home-pricing-section">
  <p class="text-base font-semibold leading-6 text-accent-500 uppercase">
    Planos e Preços
    </p>
    <h4 class="mt-2 text-2xl font-extrabold leading-8 text-gray-900  sm:text-3xl sm:leading-9">
        Nosso Sistema Oferece Diversos Serviços além da Roterização
    </h4>
    <p class="mt-4 text-lg leading-6 text-gray-500 ">
        Comece de graça, sem precisar adicionar cartão de crédido!
    </p>
    <div class="w-full flex flex-col items-center">
      <div class="max-w-3xl grid grid-cols-1 gap-4 sm:grid-cols-2 sm:items-center md:gap-8">
        <div class="rounded-2xl border border-gray-200 p-6 shadow-sm sm:px-8 lg:p-12">
          <div class="text-center">
            <h2 class="text-lg font-medium text-gray-900">
              100% Free
            </h2>
    
            <p class="mt-2 sm:mt-4">
              <strong class="text-3xl font-bold text-gray-900 sm:text-4xl"> 30 dias de Graça! </strong>
    
            </p>
          </div>
    
          <ul class="mt-6 space-y-2" *ngFor="let benefict of treeMonthFree">
            <li class="flex items-center gap-1">
              <mat-icon >check_circle_outline</mat-icon>
    
              <span class="text-gray-700"> {{benefict.text}} </span>
            </li>
    
            
          </ul>
    
          <button
              routerLink="/register"
              class="mt-8 block rounded-full border border-primary-600 bg-white px-12 py-3 text-center text-sm font-medium text-primary-600 hover:text-accent-500 hover:border-accent-500"        >
            30 Dias Free
          </button>
        </div>
        <div
          class="rounded-2xl border border-primary-500 p-6 shadow-sm ring-1 ring-primary-500 sm:order-last sm:px-8 lg:p-12"
        >
          <div class="text-center">
            <h2 class="text-lg font-medium text-gray-900">
              Completo
              <span class="sr-only">Plan</span>
            </h2>
    
            <p class="mt-2 sm:mt-4">
              <strong class="text-3xl font-bold text-gray-900 sm:text-4xl"> R$ 49 </strong>
    
              <span class="text-sm font-medium text-gray-700">/mês</span>
            </p>
          </div>
    
          <ul class="mt-6 space-y-2" *ngFor="let rotafoodService of rotafoodServices">
            <li class="flex items-center gap-1">
              
    
              <span class="text-gray-700"> {{rotafoodService.text}}</span>
            </li>
          </ul>
    
          <button
              routerLink="/register"
              class="mt-8 block rounded-full border bg-primary-600 px-12 py-3 text-center text-sm font-medium text-white hover:bg-accent-700 " >           
              Teste de Graça
          </button>
        </div>
       
      </div>
    </div>
  </div>