
<div class="w-full z-50 fixed">
    <mat-toolbar color="#fdfdfd" class="block lg:hidden justify-between w-full !h-auto">
        <img class="w-10/12 sm:w-auto cursor-pointer sm:max-h-[20vh] h-auto lg:max-w-xs lg:h-full" routerLink="/" src="assets/images/rotafood-logo.png" />
        
    
        <div class="flex w-full justify-end">
            <mat-menu #menu="matMenu" class="!px-3">
                <ng-container *ngFor="let route of defaultRoutesMook">
                    <button mat-menu-item [routerLink]="route.href" (click)="scrollToId(route.scrollTo)">
                        <span>{{route.title}}</span>
                    </button>
                </ng-container>
            
                <ng-container *ngFor="let item of loginRegisterMook">
                    <div [routerLink]="item.href" class="!w-full pb-1">
                        <button mat-raised-button class="!w-full" [color]="item.color">
                            {{item.title}}
                        </button>
                    </div>
                </ng-container>
            </mat-menu>
            
        
            <ul class= "flex justify-end">
                <li class="!hidden lg:!flex !text-center" mat-menu-item *ngFor="let route of defaultRoutesMook"  [routerLink]="route.href" (click)="scrollToId(route.scrollTo)">
                    {{route.title}}
                </li>
    
                <li class="!hidden sm:!flex  px-4"  *ngFor="let item of loginRegisterMook"  [routerLink]="item.href">
                    <button mat-raised-button [color]="item.color">
                        {{item.title}}
                    </button>
                </li>
            </ul>  
            
            <button 
            [matMenuTriggerFor]="menu"
            
            >
                <mat-icon class="lg:!hidden mx-2">menu</mat-icon>
            </button>
        </div>
    
    
    </mat-toolbar>
    
      
</div>

<div class="h-[100px]"></div>