<app-default-layout>
    <main class="relative h-screen overflow-hidden bg-white">
        <div class="container z-10 flex items-center justify-between h-screen px-6 pt-32 mx-auto md:pt-0">
            <div class="container relative flex flex-col-reverse items-center justify-between px-6 mx-auto lg:flex-row">
                <div class="w-full mb-16 text-center md:mb-8 lg:text-left">
                    <h2 class="mt-12 font-sans text-5xl font-light text-center text-gray-700 lg:text-left lg:text-8xl md:mt-0">
                        Pagina em construção...
                    </h2>
                    
                </div>
                <div class="relative block w-full max-w-md mx-auto md:mt-0 lg:max-w-2xl">
                    <img src="assets/images/not-found-banner.svg"/>
                </div>
            </div>
        </div>
    </main>
</app-default-layout>