<form [formGroup]="addressForm" class="flex flex-col gap-4">
  <mat-button-toggle-group
    [value]="mode"
    (change)="setMode($event.value)"
    aria-label="Modo de preenchimento"
    class="mb-2"
  >
    <mat-button-toggle value="search">Pesquisar</mat-button-toggle>
    <mat-button-toggle value="manual">Manual</mat-button-toggle>
    <button
      mat-icon-button
      type="button"
      (click)="getUserLocation()"
      matTooltip="Usar minha localização atual"
      aria-label="Botão para usar a localização atual do usuário"
    >
      <mat-icon>my_location</mat-icon>
    </button>

  </mat-button-toggle-group>

  <div *ngIf="loading" class="text-sm text-blue-600 p-2">
    <mat-spinner diameter="24"></mat-spinner> Buscando endereço...
  </div>

  <div
    *ngIf="!loading && getFormattedAddress()"
    class="text-sm text-gray-700 p-2 bg-gray-100 rounded shadow"
  >
    <strong>Endereço encontrado:</strong><br />
    {{ getFormattedAddress() }}
  </div>

  <mat-form-field appearance="outline" *ngIf="mode === 'search'">
    <mat-label>Pesquisar endereço</mat-label>
    <input
      matInput
      type="text"
      [formControl]="searchCtrl"
      [matAutocomplete]="auto"
      (keydown.enter)="$event.preventDefault()"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onAddressSelected($event.option.value)"
      [displayWith]="displayAddress"
    >
      <mat-option *ngFor="let opt of suggestions" [value]="opt">
        {{ opt.formattedAddress || formatSuggestion(opt) }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Número</mat-label>
    <input matInput formControlName="streetNumber" />
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    *ngIf="mode === 'manual'"
  >
    <mat-label>Rua</mat-label>
    <input matInput formControlName="streetName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Complemento</mat-label>
    <input matInput formControlName="complement" />
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    *ngIf="mode === 'manual'"
  >
    <mat-label>CEP</mat-label>
    <input matInput formControlName="postalCode" />
  </mat-form-field>

  <mat-form-field
    appearance="outline"
       *ngIf="mode === 'manual'"

  >
    <mat-label>Bairro</mat-label>
    <input matInput formControlName="neighborhood" />
  </mat-form-field>

  <mat-form-field
    appearance="outline"
       *ngIf="mode === 'manual'"

  >
    <mat-label>Cidade</mat-label>
    <input matInput formControlName="city" />
  </mat-form-field>

  <mat-form-field
    appearance="outline"
       *ngIf="mode === 'manual'"

  >
    <mat-label>Estado</mat-label>
    <input matInput formControlName="state" />
  </mat-form-field>
</form>