<div class="relative h-[80vh] w-[90vw]" *ngIf="showMap && _cvrp">
  <mgl-map
    [style]="{
      version: 8,
      sources: {
        'osm-tiles': {
          type: 'raster',
          tiles: ['https://tile.openstreetmap.org/{z}/{x}/{y}.png'],
          tileSize: 256
        }
      },
      layers: [{
        id: 'osm-tiles-layer',
        type: 'raster',
        source: 'osm-tiles'
      }]
    }"    
        [zoom]="[13]"
        [center]="center"

        class="relative h-full w-full"
        
      >



      <mgl-control mglNavigation position="top-right"></mgl-control>
      <mgl-control mglFullscreen position="top-right"></mgl-control>
      <mgl-control position="top-left">
          <button
          [matMenuTriggerFor]="menu"
          mat-raised-button color="primary" >Todas as Rotas</button>
            <mat-menu #menu="matMenu" class="!px-3">
              <ng-container *ngFor="let route of _cvrp.routes; let i = index">
                  <div mat-menu-item >
                    <button class="!flex !items-center" (click)="onRouteButtonClick(route)">
                      <span class="pr-2">Rota {{i}}</span>
                      <div class="w-5 h-5"[ngStyle]="{'background-color': colormap[i]}"></div>
                    </button>
                  </div>
              </ng-container>
          </mat-menu>
      </mgl-control>

      
        <ng-container *ngFor=" let route of _cvrp.routes; let i = index">
          <app-map-vrp-route [color]="colormap[i]" [route]="route"></app-map-vrp-route>
        </ng-container>

        <app-map-vrp-merchant [merchant]="_cvrp.merchant"></app-map-vrp-merchant>
        
        <mgl-popup *ngIf="selectedRoute && selectedRouteCoordinates" 
             [lngLat]="selectedRouteCoordinates">
          <div>
            <h3>Rota ID: {{ selectedRoute.id }}</h3>
            <p>Distancia: {{ selectedRoute.distance.toFixed(2) }} metros</p>
            <p>Volume: {{ selectedRoute.volume.toFixed(2) }} litros</p>
            <a mat-raised-button color="primary" class="w-full" target="_blank" [href]="selectedRoute.linkGoogleMaps"> Link Maps </a>
          </div>
        </mgl-popup>
        
      </mgl-map>
      
  
</div>
