
.map-container {
    position: relative;
    height: 70vh; // Adjust height as needed
    width: 90vw; // Adjust width as needed
  }
  
  .map {
    height: 100%;
    width: 100%;
  }
  

  .hover-class:hover {
    
  }
  