<div *ngIf="showTable; else noContent" class="table-container px-3 pt-5 max-w-full overflow-auto">
    <h1 class="table-title justify-center font-bold mb-2 text-2xl text-gray-800">Tabela de Categorias</h1>

    <app-default-columns-control [columnsConfig]="columnsConfig" [path]="path"
    (columnsChange)="onChangeColumn($event)"></app-default-columns-control>
    
    <div>
        <table mat-table [dataSource]="product.data" class="mat-elevation-z8">
            <ng-container *ngFor="let column of columnsConfig" [matColumnDef]="column.key">
                <th mat-header-cell *matHeaderCellDef class="!text-lg">
                    <app-default-table-header [column]="column" [form]="getFormControl(column.key)"
                        (searchEvent)="search($event)"></app-default-table-header>
                </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <app-default-table-cell [element]="element" [index]="i" [columnName]="column.key" [path]="path"
                        (deleteEvent)="delete($event)"></app-default-table-cell>
                </td>


            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="product.totalCount" [pageSize]="product.pageSize" [pageIndex]="product.currentPage - 1"
            [pageSizeOptions]="[10, 50, 100]" (page)="onPageChange($event)" aria-label="Select page">
        </mat-paginator>
    </div>
</div>

<ng-template #noContent>
    <app-no-data-content link="/admin/produtos/novo" text="produtos">
    </app-no-data-content>
</ng-template>