::ng-deep .mat-horizontal-content-container {
  padding: 20px 10px 10px 10px !important;
  max-height: 80vh !important;
}


::ng-deep .mat-horizontal-stepper-wrapper {
display: flex;
flex-direction: column;
height: 100% !important;
} 