<div id="home-roteirizacao-rotafood" class="sm:flex items-center w-full">
    <div class="sm:w-1/3 p-10">
        <div class="h-full w-full rounded-lg">
            <img src="assets/images/veicle-routine-map.png" alt="Imagem sobre roteirização de pedidos">
        </div>
    </div>
    <div class="sm:w-1/2 p-5">
        <div class="text">
            <span class="text-gray-500 border-b-2 border-primary-600 uppercase">Roteirização Inteligente</span>
            <h2 class="my-4 font-bold text-3xl sm:text-4xl">Vantagens do <span class="text-primary-600">RotaFood</span></h2>
            <p class="text-gray-700">
                O <strong>RotaFood</strong> ajuda a otimizar suas operações de delivery através de uma tecnologia avançada de <strong>roteirização inteligente</strong>. Com o plano base, nossos sistemas sequenciam seus pedidos para que você entregue mais rápido, garantindo que cheguem mais <strong>quentes</strong> e <strong>frescos</strong>, aumentando a satisfação do cliente.
            </p>
            <p class="text-gray-700 mt-4">
                Além disso, ao permitir que seus clientes façam pedidos diretamente pelo seu site, você reduz as taxas cobradas por plataformas de entrega. Enquanto o iFood cobra até <strong>27%</strong> por pedido, com o RotaFood essa taxa pode cair para <strong>15%</strong>, gerando uma economia significativa para o seu negócio.
            </p>
            <p class="text-gray-700 mt-4">
                Nossa solução também auxilia na <strong>sequência da produção</strong>, garantindo maior eficiência e organização. Com a roteirização de pedidos, você pode otimizar seus recursos e reduzir custos operacionais, tudo isso enquanto melhora a experiência do cliente e a agilidade do seu serviço.
            </p>
        </div>
    </div>
</div>
