
    <main class="h-full bg-white">
        <div class="container z-10 flex flex-col items-center justify-between px-6 pt-32 mx-auto md:pt-0">
            <div class="container relative flex flex-col-reverse items-center justify-between px-6 mx-auto lg:flex-row">
                <div class="w-full  text-center lg:text-left">
                    <h1 class="mt-12 font-sans text-5xl font-light text-center text-gray-700 lg:text-left lg:text-8xl md:mt-0">
                        Pagina não encontrada...
                    </h1>
                    
                </div>
                <div class="relative block w-full max-w-md mx-auto md:mt-0 lg:max-w-2xl">
                    <img src="assets/images/not-found-banner.svg"/>
                </div>
            </div>
            <button mat-raised-button color="primary" class="!p-5 !text-xl" routerLink="/login">Voltar para o Início</button>
        </div>
    </main>
    <app-footer></app-footer>
