<div class="flex flex-col items-center w-full">
    <div class="p-8 sm:w-3/4 bg-white rounded-lg shadow" id="home-about-us-section">
      <p class="text-3xl font-bold text-center text-gray-800">
        Sobre Nós!
      </p>
      <p class="mb-12 text-xl font-normal text-justify text-gray-500">
        A <strong>RotaFood</strong> é uma startup de tecnologia voltada para oferecer um sistema completo e acessível para restaurantes. Nosso produto inclui funcionalidades essenciais como <strong>ponto de vendas (PDV)</strong>, <strong>gestão de pedidos</strong>, <strong>cardápio online</strong> e <strong>controle de entregas</strong> — tudo com um preço <strong>justo</strong> e sem burocracia.
        <br/><br/>
        Como diferencial, também desenvolvemos uma poderosa solução de <strong>roteirização de entregas</strong>, baseada em algoritmos de otimização avançados. Nosso sistema é capaz de resolver o
        <a class="underline font-bold cursor-pointer" href="https://pt.wikipedia.org/wiki/Problema_de_roteamento_de_ve%C3%ADculos" target="_blank">
          Problema de Roteamento de Veículos</a>, 
        otimizando o trajeto dos entregadores para economizar tempo e aumentar a eficiência.
        <br/><br/>
        A RotaFood nasceu de um projeto de pesquisa com base científica e foco real nas dores do mercado, trazendo tecnologia de ponta para facilitar a rotina de quem realmente importa: o dono do restaurante e seus clientes.
      </p>
    </div>
  </div>
  