<div class="flex min-h-52 flex-col justify-between text-center">
    <p class="mt-4 text-gray-500 text-start">
        Os <strong>Grupos de Opções</strong> de um produto são os items adicionais para um determinado, como
        sabor de pizza ou adicionais de um lanche. Caso não tenha apenas salve o produto!
    </p>
    <form [formGroup]="productOptionForm.getForm()">
        <ng-container formArrayName="optionGroups">
            <ng-container *ngFor="let group of productOptionForm.optionGroups.controls; let groupIndex = index">
                <app-default-form-container *ngIf="productOptionForm.optionGroups.controls.length > 0">
                    <div [formGroupName]="groupIndex">
                        <mat-form-field appearance="fill" class="w-full px-1">
                            <mat-label>Nome do Grupo de Opção</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-full px-1">
                            <mat-label>Ativo</mat-label>
                            <mat-select formControlName="status">
                                <mat-option value="ACTIVE">Ativo</mat-option>
                                <mat-option value="INACTIVE">Inativo</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-full px-1">
                            <mat-label>Mínimo de Escolhas</mat-label>
                            <input matInput type="number" formControlName="minOptions">
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-full px-1">
                            <mat-label>Máximo de Escolhas</mat-label>
                            <input matInput type="number" formControlName="maxOptions">
                        </mat-form-field>

                        <ng-container formArrayName="options">
                            <div *ngFor="let option of getOptions(group).controls; let optionIndex = index"
                                [formGroupName]="optionIndex">
                                <app-default-form-container>
                                    <mat-form-field appearance="fill" class="w-full px-1">
                                        <mat-label>Nome da Opção</mat-label>
                                        <input matInput formControlName="name">
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="w-full px-1">
                                        <mat-label>Descrição da Opção</mat-label>
                                        <input matInput formControlName="description">
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="w-full px-1">
                                        <mat-label>Preço</mat-label>
                                        <input matInput formControlName="price" type="number">
                                    </mat-form-field>
                                </app-default-form-container>
                            </div>
                            <button mat-button (click)="addOption(groupIndex)">
                                <div class="flex flex-row w-full">
                                    <mat-icon class="scale-[1.5] mx-2">add_circle</mat-icon> Nova Opção
                                </div>
                            </button>
                        </ng-container>
                    </div>
                </app-default-form-container>
            </ng-container>
            <button mat-button (click)="addOptionGroup()">
                <div class="flex flex-row w-full">
                    <mat-icon class="scale-[1.5] mx-2">add_circle</mat-icon> Novo Grupo Opção
                </div>
            </button>
        </ng-container>
    </form>

    <ng-content>

    </ng-content>
</div>