<div class="flex flex-col sm:flex-row">
    <div (click)="fileUpload.click()" class="flex items-center justify-center w-full flex-col">
        <label for="dropzone-file"
            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 ">
            <div class="justify-center font-bold mb-2 text- text-xl text-gray-800 ">Imagens</div>
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <mat-icon class="text-gray-500 " aria-hidden="true">
                    cloud_upload
                </mat-icon>
                <input #fileUpload type="file" multiple (change)="onMultipleFilesSelected($event)"
                    class="hidden" />
                <p class="mb-2 text-sm text-gray-500 "><span class="font-semibold">Click para
                        escolher</span> ou arraste e solte</p>
                <p class="text-xs text-gray-500 ">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
        </label>
        <div class="flex flex-wrap justify-center mt-4">
            <div *ngFor="let img of imagesUrl; let i = index" class="p-2">
                <img [src]="img" alt="Imagem carregada"
                    [ngClass]="i === 0 ? 'w-52 h-auto border-2 border-blue-500' : 'w-32 h-auto'">
            </div>
        </div>
    </div>
</div>