<form [formGroup]="productForm.formGroup" (submit)="onSubmit()" class="mt-5">

    <div class="flex flex-col sm:flex-row">
        <!-- Name -->
        <mat-form-field appearance="fill" class="w-full px-1">
            <mat-label>Nome</mat-label>
            <input class="w-full" matInput formControlName="name" type="text">
            <mat-error *ngIf="productForm.formGroup.controls.name.hasError('required')">
                Você esqueceu de colocar o nome
            </mat-error>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field appearance="fill" class="w-full px-1">
            <mat-label>Descrição</mat-label>
            <input class="w-full" matInput formControlName="description" type="text">
            <mat-error *ngIf="productForm.formGroup.controls.description.hasError('required')">
                Você esqueceu de colocar a descrição
            </mat-error>
        </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
        <!-- Additional Information -->
        <mat-form-field appearance="fill" class="w-full px-1">
            <mat-label>Informações Adicionais</mat-label>
            <input class="w-full" matInput formControlName="additionalInformation" type="text">
        </mat-form-field>

        <!-- Serving -->
        <mat-form-field appearance="fill" class="w-full px-1">
            <mat-label>Rendimento</mat-label>
            <input class="w-full" matInput formControlName="serving" type="text">
        </mat-form-field>
    </div>


    <div class="flex flex-col sm:flex-row">
        <!-- Weight Quantity -->
        <mat-form-field appearance="fill" class="w-full px-1">
            <mat-label>Quantidade de Peso</mat-label>
            <input class="w-full" matInput formControlName="weightQuantity" type="number">
        </mat-form-field>

        <!-- Weight Unit -->
        <mat-form-field appearance="fill" class="w-full px-1">
            <mat-label>Unidade de Peso</mat-label>
            <input class="w-full" matInput formControlName="weightUnit" type="text">
        </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
        <!-- Volume -->
        <mat-form-field appearance="fill" class="w-full px-1">
            <mat-label>Volume</mat-label>
            <input class="w-full" matInput formControlName="volume" type="number">
        </mat-form-field>

        <!-- Price -->
        <mat-form-field appearance="fill" class="w-full px-1">
            <mat-label>Preço</mat-label>
            <input class="w-full" matInput formControlName="price" type="number">
        </mat-form-field>
    </div>

    <!-- Product Type -->
    <mat-form-field appearance="fill" class="w-full px-1">
        <mat-label>Tipo de Produto</mat-label>
        <mat-select formControlName="productType">
            <mat-option value="REGULAR">Regular</mat-option>
            <mat-option value="IFOOD">IFood</mat-option>
        </mat-select>
    </mat-form-field>

    <app-upload-photos (selectImages)="onMultipleFilesSelected($event)"></app-upload-photos>
    <ng-content>

    </ng-content>
</form>