    <form [formGroup]="form" (keydown.enter)="$event.preventDefault()" class="my-2">

        <div class="flex flex-col sm:flex-row sm:gap-2 gap-0">
            <mat-form-field appearance="fill" class="w-full" >
                <mat-label>Nome</mat-label>
                <input class="w-full" matInput  type="text" formControlName="name" >
                <mat-error *ngIf="form.controls.name.hasError('required')">
                    Voce esqueceu de colocar o nome do restaurante
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full" >
                <mat-label>Nome Coorporativo</mat-label>
                <input class="w-full" matInput  type="text" formControlName="corporateName" >
                <mat-error *ngIf="form.controls.corporateName.hasError('required')">
                    Voce esqueceu de colocar o nome coorporativo do restaurante
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row sm:gap-2 gap-0">
            <mat-form-field appearance="fill" class="w-full" >
                <mat-label>Descrição</mat-label>
                <input class="w-full" matInput  type="text" formControlName="description" >
                <mat-error *ngIf="form.controls.description.hasError('required')">
                    Voce esqueceu de colocar a descrição do restaurante
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full" >
                <mat-label>Tipo Estabelecimento</mat-label>
                <mat-select formControlName="merchantType">
                    <mat-option *ngFor="let merchantType of merchantTypesMock" [value]="merchantType.value">{{merchantType.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row sm:gap-2 gap-0">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>CPF ou CNPJ</mat-label>
                <mat-select formControlName="documentType" required>
                    <mat-option value="CPF">CPF</mat-option>
                    <mat-option value="CNPJ">CNPJ</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Número do Documento</mat-label>
                <input class="w-full" matInput  type="text" formControlName="document" >
                <mat-error *ngIf="form.controls.document.hasError('required')">
                    Voce esqueceu de colocar o CPF ou CNPJ
                </mat-error>
            </mat-form-field>
        </div>

        <app-address-autocomplete-google-maps 
            class="w-full" 
            [addressControl] = "form.controls.address"
        >
        </app-address-autocomplete-google-maps>

        <ng-content>

        </ng-content>


    </form>
