    <form [formGroup]="merchantForm.formGroup" (submit)="onSubmit($event)" (keydown.enter)="$event.preventDefault()">
        <mat-form-field appearance="fill" class="w-full pb-6" >
            <mat-label>Nome do Restaurante</mat-label>
            <input class="w-full" matInput  type="text" formControlName="name" >
            <mat-error class="block" *ngIf="merchantForm.formGroup.controls.name.hasError('required')">
                Voce esqueceu de colocar o nome do restaurante
            </mat-error>
        </mat-form-field>
        <div class="flex flex-col sm:flex-row">
            <mat-form-field appearance="fill" class="w-full pb-6">
                <mat-label>CPF ou CNPJ</mat-label>
                <mat-select formControlName="documentType" required>
                    <mat-option value="CPF">CPF</mat-option>
                    <mat-option value="CNPJ">CNPJ</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full pb-6">
                <mat-label>Número do Documento</mat-label>
                <input class="w-full" matInput  type="text" formControlName="document" >
                <mat-error *ngIf="merchantForm.formGroup.controls.document.hasError('required')">
                    Voce esqueceu de colocar o número do documento
                </mat-error>
            </mat-form-field>
        </div>

        <app-address-autocomplete-google-maps 
            class="w-full" 
            [addressControl] = "merchantForm.formGroup.controls.address"
        >
        </app-address-autocomplete-google-maps>

        <ng-content>

        </ng-content>


    </form>
