
<app-admin-layout>
    <section class="bg-gray-50 my-2 sm:my-20 ">
        <div class="mx-auto px-4 py-3 lg:flex lg:items-center">
          <div class="mx-auto max-w-xl text-center">
            <h2 class="text-3xl font-extrabold sm:text-5xl">
              Bem Vindo ao 
              <strong class="font-extrabold text-primary-700 sm:block"> Admin do RotaFood </strong>
            </h2>
      
            <p class="mt-4 sm:text-xl/relaxed">
                Não se preocupe se no se não aparecer alguns modulos, converse com seu adiministrador que ele pode te fornecer mais permissões!
            </p>
            <div class="mt-2 flex-row flex justify-between">
                <div class="flex items-center">
                    <mat-icon>menu</mat-icon> <span >Menu pricipal</span>
                </div>
                <div class="flex items-center">
                    <mat-icon>account_circle</mat-icon> <span >Menu usuário</span>
                </div>
                
            </div>
      
            <div class="mt-8 flex flex-col flex-wrap justify-center">
              <h2 class="text-4xl font-extrabold text-primary-700 sm:block">Seus Módulos</h2>
              <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
                <div *ngFor="let route of adminRoutes">
                    <div>
                        <mat-icon>{{route.icon}}</mat-icon>
                        <h2 class="text-lg font-bold">{{route.title}}</h2>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</app-admin-layout>