<div class="table-container px-3 sm:px-32 pt-5 max-w-full overflow-auto">
  <h1 class="justify-center font-bold mb-2 text-4xl text-primary-500">Cardápios</h1>

  <!-- Loading Spinner -->
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <!-- Tabs de Catálogos -->
  <mat-tab-group *ngIf="!isLoading" [(selectedIndex)]="activeTabIndex">
    <div *ngFor="let catalog of catalogs">
      <mat-tab *ngIf="catalog.catalogContext !== 'IFOOD'" [label]="catalogContextToString(catalog.catalogContext)">
        <div class="categories-container mt-8 space-y-8 min-h-[10vh]">

          <!-- Cabeçalho Categorias -->
          <div class="flex justify-between">
            <h2 class="font-bold text-3xl text-primary-500">Categorias</h2>
            <button class="!text-2xl font-bold" mat-button color="primary" (click)="updateOrCreateCategory()">
              Adiciona Categoria <mat-icon class="scale-150">add_circle</mat-icon>
            </button>
          </div>

          <mat-card *ngFor="let category of categories; let i = index" class="p-4">
            <h1 class="text-1xl font-bold mb-4 flex items-center justify-between">
              {{ category.name }}
              <div class="flex space-x-2">
                <button mat-icon-button color="primary" (click)="moveCategoryUp(i)" [disabled]="i === 0">
                  <mat-icon>arrow_upward</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="moveCategoryDown(i)" [disabled]="i === categories.length - 1">
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </div>
              <button mat-button color="accent" (click)="updateOrCreateCategory(category, category.template)">
                <mat-icon class="scale-150">edit</mat-icon> Editar Categoria
              </button>
              <button mat-button color="warn" (click)="deleteCategory(category)">
                <mat-icon class="scale-150">delete</mat-icon> Deletar Categoria
              </button>
              <button *ngIf="category.template === 'DEFAULT'" mat-button color="primary"
                (click)="createItemPreparedOrInstructedDialog({item: null, categoryId: category.id})">
                <mat-icon class="scale-150">add_circle</mat-icon> Adicionar Item
              </button>

              <button *ngIf="category.template === 'PIZZA'" mat-button color="primary"
                (click)="updateOrCreateItemPizzaTopping({item: category.items[0]})">
                <mat-icon class="scale-150">add_circle</mat-icon> Adicionar Sabor
              </button>
            </h1>

            <app-category-items-table [category]="category" [catalog]="catalog"></app-category-items-table>
          </mat-card>

          <div *ngIf="categories.length === 0">
            <div class="grid h-[50vh] place-content-center bg-white px-4">
              <h1 class="uppercase tracking-widest text-gray-500">Sem categorias!</h1>
            </div>
          </div>
        </div>



      </mat-tab>
    </div>

  </mat-tab-group>
</div>