
<div class="table-controls flex py-2">
    <div class="column-visibility-controls flex items-center">
      <ng-container *ngFor="let column of columnsConfig">
        <mat-checkbox [checked]="column.visible"
                      (change)="toggleColumnVisibility(column.key)">
          {{ column.title }}
        </mat-checkbox>
      </ng-container>
    </div>
    <button class="add-category-button" matSuffix mat-icon-button aria-label="Adicionar Categoria" [routerLink]="path + '/novo'">
      <mat-icon class="scale-[2]">add_circle</mat-icon>
    </button>
  </div>
<table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columnsConfig" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef class="!text-lg">
        <ng-container *ngIf="column.key !== 'id'; else defaultTitle">
          <form class="pt-5" (ngSubmit)="onSearch(column.key)">
            <mat-form-field class="!w-full">
              <mat-label>{{ column.title }}</mat-label>
              <input matInput *ngIf="getFormControl(column.key) as formControl"
                [formControl]="formControl" [placeholder]="column.title">

              <button matSuffix mat-icon-button aria-label="Search">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </form>
        </ng-container>
        <ng-template #defaultTitle>{{ column.title }}</ng-template>
      </th>

      <td mat-cell *matCellDef="let element; let i = index">
        <ng-container *ngIf="column.key === 'id'; else otherColumns">
        <div class="flex items-center justify-start">
          <p>{{i+1}}</p>
          <button matSuffix mat-icon-button aria-label="Ações" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <div class="flex flex-col">
              <button mat-button [routerLink]="path + '/editar/' + element.id">
                <mat-icon class="scale-[0.85]">edit</mat-icon>
              </button>
              <button matSuffix mat-button (click)="onDelete(element.id)">
                <mat-icon class="scale-[0.85]">delete</mat-icon>
              </button>
            </div>
          </mat-menu>
        </div>
      </ng-container>

      <ng-template #otherColumns>
        {{ element[column.key] }}
      </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>