
  

  <section class="bg-gray-900 text-white" id="home-whats-routine">
    <div class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="max-w-xl">
        <h2 class="text-3xl font-bold sm:text-4xl">Porque usar Roterização?</h2>

        <p class="mt-4 text-gray-300">
          A roterização é o processo de dividir seus pedidos em rotas otimizadas, gerando 
          rotas mais curtas e rápidas.
        </p>
      </div>

      <div class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12" 
        >
          <div class="flex items-start gap-4" *ngFor="let service of beneficts">
            <div>
              <h2 class="text-lg font-bold">{{service.title}}</h2>
              <p class="mt-1 text-sm text-gray-300">{{service.text}}</p>
            </div>
          </div>
        </div>
    </div>
  </section>