<app-default-form-container>
    <div class="flex flex-col w-full px-4 py-8 bg-white rounded-lg shadow sm:px-6 md:px-8 lg:px-10">
        <div class="flex flex-col justity-center text-center">
            <div class=" justify-center font-bold	 mb-2 text- text-xl text-gray-800 sm:text-2xl ">
                Editar Categoria ID {{categoryId}}
            </div>
        </div>
        <div class="mt-8">
            <form [formGroup]="categoryForm.formGroup" (submit)="onSubmit()">
                <mat-form-field appearance="fill" class="w-full pb-6">
                    <mat-label>Nome</mat-label>
                    <input class="w-full" matInput formControlName="name" type="text">
                    <mat-error *ngIf="categoryForm.formGroup.controls.name.hasError('required')">
                        Você esqueceu de colocar o nome da categoria
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-full pb-6">
                    <mat-label>Descrição</mat-label>
                    <input class="w-full" matInput formControlName="description" type="text">
                    <mat-error *ngIf="categoryForm.formGroup.controls.description.hasError('required')">
                        Você esqueceu de colocar a descrição
                    </mat-error>
                </mat-form-field>

                <div class="flex flex-row items-center justify-center mt-6">
                    <button mat-raised-button color="accent"  class="!w-full !text-xl" (click)="back()"  >
                        Voltar
                    </button>
                    <app-spinner-button  class="!w-full !text-xl"  [isLoading]="isLoading" [type]="'submit'">
                        Salvar
                    </app-spinner-button>
                </div>
            </form>
        </div>    
    </div>
</app-default-form-container>