<app-default-layout>
    <app-default-form-container>
        <div class="flex flex-col justity-center text-center">
            <div class=" justify-center font-bold	 mb-2 text- text-xl text-gray-800 sm:text-2xl ">
                Crie sua Conta
            </div>
            <span class="justify-center text-sm text-center text-gray-500 flex-items-center ">
                Ja tem uma conta ?
                <a routerLink="/login" class="text-sm text-primary-500 underline hover:text-primary-700">
                    entrar
                </a>
            </span>
        </div>
        <mat-vertical-stepper [linear]="true"  #stepper>
            <mat-step [completed]="merchantFormComponent?.isFormCompleted() || false"  label="Dados do Restaurante">
                <app-register-merchant-form >
                    <button mat-raised-button type="submit" class="!w-full" color="primary" (click)="onMerchantFormSubmit()" matStepperNext>Próximo</button>
                </app-register-merchant-form>

            </mat-step>
            <mat-step  [completed]="userFormComponent?.isFormCompleted() || false" label="Dados do Administrador">
                <app-register-user-form >
                    <div class="flex">
                        <button mat-raised-button class="!w-full" color="accent" matStepperPrevious>Voltar</button>
                        <button mat-raised-button type="submit" class="!w-full" color="primary" (click)="onUserFormSubmit()">
                            <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
                            <span *ngIf="!loading">Criar Conta</span>
                        </button>
                    </div>

                    <div *ngIf="errorMessage != null">
                        {{errorMessage}}
                    </div>
                </app-register-user-form>
            </mat-step>
            
            
        </mat-vertical-stepper>
    </app-default-form-container>
</app-default-layout>