<app-default-layout>
    <app-default-form-container>
        <div class="flex flex-col justity-center text-center">
            <div class=" justify-center font-bold	 mb-2 text- text-xl text-gray-800 sm:text-2xl ">
                Crie sua Conta
            </div>
            <span class="justify-center text-sm text-center text-gray-500 flex-items-center ">
                Ja tem uma conta ?
                <a routerLink="/login" class="text-sm text-primary-500 underline hover:text-primary-700">
                    entrar
                </a>
            </span>
        </div>
        <mat-vertical-stepper [linear]="true"  #stepper>
            <mat-step [completed]="merchantForm?.isCompleted() || false" label="Dados do Restaurante">
                <app-register-merchant-form
                    (formSubmit)="onMerchantFormSubmit($event)"
                >
                </app-register-merchant-form>
                <button mat-raised-button class="!w-full" color="primary" matStepperNext>Próximo</button>

            </mat-step>
            <mat-step  [completed]="userForm?.isCompleted() || false" label="Dados do Responsável">
                <app-register-user-form
                    (formSubmit)="onUserFormSubmit($event)"
                >
                </app-register-user-form>
                <button mat-raised-button class="!w-full" color="primary" matStepperPrevious>Voltar</button>
                <button mat-raised-button class="!w-full" color="accent" (click)="onSubmit()">Enviar</button>
            </mat-step>

        </mat-vertical-stepper>
    </app-default-form-container>
</app-default-layout>