    <form [formGroup]="userForm.formGroup"  (keydown.enter)="$event.preventDefault()" class="my-2">
        <mat-form-field appearance="fill" class="w-full" >
            <mat-label>Nome do Administrador</mat-label>
            <input class="w-full" matInput  type="text" formControlName="name" >
            <mat-error *ngIf="userForm.formGroup.controls.name.hasError('required')">
                Voce esqueceu de colocar um número para contato
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Celular  do Administrador</mat-label>
            <input class="w-full" matInput  type="text" formControlName="phone" >
            <mat-error *ngIf="userForm.formGroup.controls.phone.hasError('required')">
                Voce esqueceu de colocar um número para contato
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>E-mail  do Administrador</mat-label>
            <input class="w-full" matInput  type="email" formControlName="email" >
            <mat-error *ngIf="userForm.formGroup.controls.email.hasError('required')">
                Voce esqueceu de colocar um e-mail para contato
            </mat-error>
            <mat-error *ngIf="userForm.formGroup.controls.email.hasError('email')">
                Coloque um email como seu_nome&#64;exemplo.com
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Senha do Administrador</mat-label>
            <input class="w-full" matInput  type="password" formControlName="password" >
            <mat-error *ngIf="userForm.formGroup.controls.password.hasError('required')">
                Voce esqueceu de colocar sua senha!
            </mat-error>
        </mat-form-field>  
        <ng-content>

        </ng-content>
    </form>
