
<app-dash-layout>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non beatae vero suscipit dolore incidunt amet. Commodi labore laborum pariatur iure. Praesentium ipsum voluptatum repellat commodi, aliquam dolores omnis laudantium?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae officiis quis incidunt! Quasi accusamus quia ducimus sed dolorum, placeat similique deleniti molestias, repudiandae maxime voluptates corporis pariatur eum harum natus?
    </p>
</app-dash-layout>