<form [formGroup]="cepForm" class="flex flex-col gap-4">

  <mat-slide-toggle [checked]="isManual" (change)="toggleManualMode()">
    Preencher manualmente
  </mat-slide-toggle>

  <div *ngIf="loading" class="text-sm text-blue-600 p-2">
    <mat-spinner diameter="24"></mat-spinner> Buscando endereço...
  </div>
  
  <div *ngIf="!loading && getFormattedAddress()" class="text-sm text-gray-700 p-2 bg-gray-100 rounded shadow">
    <strong>Endereço encontrado:</strong><br>
    {{ getFormattedAddress() }}
  </div>

  

  <div  class="flex flex-col gap-4">
    <mat-form-field appearance="outline">
      <mat-label>CEP</mat-label>
      <input matInput formControlName="postalCode" (blur)="onPostalCodeBlur()" maxlength="9">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Número</mat-label>
      <input matInput formControlName="streetNumber">
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="isManual">
      <mat-label>Rua</mat-label>
      <input matInput formControlName="streetName">
    </mat-form-field>
  
    <mat-form-field appearance="outline" >
      <mat-label>Complemento</mat-label>
      <input matInput formControlName="complement">
    </mat-form-field>
  
    <mat-form-field appearance="outline" *ngIf="isManual">
      <mat-label>Bairro</mat-label>
      <input matInput formControlName="neighborhood">
    </mat-form-field>
  
    <mat-form-field appearance="outline" *ngIf="isManual">
      <mat-label>Cidade</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
  
    <mat-form-field appearance="outline" *ngIf="isManual">
      <mat-label>Estado</mat-label>
      <input matInput formControlName="state">
    </mat-form-field>
  </div>

</form>
