<form [formGroup]="cepForm" class="flex flex-col gap-4">

  <div *ngIf="getFormattedAddress()" class="text-sm text-gray-700 p-2 bg-gray-100 rounded shadow">
    <strong>Endereço encontrado:</strong><br>
    {{ getFormattedAddress() }}
  </div>

  <mat-form-field appearance="outline">
    <mat-label>CEP</mat-label>
    <input matInput formControlName="postalCode" (blur)="buscarEnderecoPorCep()" maxlength="9">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Número</mat-label>
    <input matInput formControlName="streetNumber">
  </mat-form-field>

  <button class="!my-2" mat-button color="primary" *ngIf="cepForm.valid && !showAddressDetails" (click)="showAddressDetails = true">
    Editar endereço encontrado
  </button>

  <div *ngIf="showAddressDetails" class="flex flex-col gap-4">
    <mat-form-field appearance="outline">
      <mat-label>Rua</mat-label>
      <input matInput formControlName="streetName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Complemento</mat-label>
      <input matInput formControlName="complement">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Bairro</mat-label>
      <input matInput formControlName="neighborhood">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cidade</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <input matInput formControlName="state">
    </mat-form-field>
  </div>
</form>
