<app-catalog-online-layout [merchant]="data?.merchant" [hasOpened]="hasOpened" [showItemsButton]="catalogContext === 'DELIVERY'">
    <div *ngFor="let category of categories" class="h-full !bg-[#fdfdfd] pt-10 px-5">
        <h2 class="text-2xl font-semibold text-gray-900 mb-5">{{ category.name }}</h2>

        <div class="gap-4">
            <mat-card *ngFor="let item of category.items" class="!mb-5 sm:flex-row items-center">


                <mat-card-header class="!w-full">
                    <div class="w-full flex">
                        <div class="w-full">
                            <mat-card-title class="!text-xl !font-bold">{{ item.product.name }}</mat-card-title>
                            <mat-card-subtitle class="text-sm text-gray-500">
                                {{ getDescriptionSlice(item.product.description) }}
                            </mat-card-subtitle>
                                                      </div>

                        <img mat-card-image [src]="item.product.imagePath || 'assets/images/placeholder.png'"
                            alt="{{ item.product.name }}" class="w-28 h-28 object-cover rounded-lg"
                            />
                    </div>
                </mat-card-header>

                <mat-card-content class="w-full"> 

                </mat-card-content>

                <mat-card-actions class="flex w-full justify-between">
                    <div class="flex items-center gap-2 mt-2">
                        <p class="text-lg font-semibold text-primary-600">
                            R$: {{ getDeliveryPrice(item.contextModifiers) | number:'1.2-2' }}
                        </p>
                        <p class="text-sm text-gray-500 line-through" *ngIf="hasDiscount(item.contextModifiers)">
                            R$: {{ getOriginalPrice(item.contextModifiers) | number:'1.2-2' }}
                        </p>
                    </div>
                    <button [disabled]="!hasOpened" mat-raised-button color="primary" (click)="addOrderItem(item)">
                        {{ catalogContext === 'DELIVERY' ? 'Adicionar' : 'Ver mais'}}
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</app-catalog-online-layout>