<app-default-form-container class="">
    <div class="flex flex-col w-full min-w-[90vw] px-4 py-8 bg-white rounded-lg shadow sm:px-6 md:px-8 lg:px-10">
        <div class="flex flex-col justity-center text-center">
            <div class=" justify-center font-bold	 mb-2 text- text-xl text-gray-800 sm:text-2xl ">
                Formulário Criação de Produto
            </div>
        </div>
        <div class="mt-8">
            <form [formGroup]="productForm.formGroup" (submit)="onSubmit()">

                <div class="flex flex-col sm:flex-row">
                    <!-- Name -->
                    <mat-form-field appearance="fill" class="w-full px-1">
                        <mat-label>Nome</mat-label>
                        <input class="w-full" matInput formControlName="name" type="text">
                        <mat-error *ngIf="productForm.formGroup.controls.name.hasError('required')">
                            Você esqueceu de colocar o nome
                        </mat-error>
                    </mat-form-field>
        
                    <!-- Description -->
                    <mat-form-field appearance="fill" class="w-full px-1">
                        <mat-label>Descrição</mat-label>
                        <input class="w-full" matInput formControlName="description" type="text">
                        <mat-error *ngIf="productForm.formGroup.controls.description.hasError('required')">
                            Você esqueceu de colocar a descrição
                        </mat-error>
                    </mat-form-field>
                </div>
            
            <div class="flex flex-col sm:flex-row">
                <!-- Additional Information -->
                <mat-form-field appearance="fill" class="w-full px-1">
                    <mat-label>Informações Adicionais</mat-label>
                    <input class="w-full" matInput formControlName="additionalInformation" type="text">
                </mat-form-field>

                <!-- Serving -->
                <mat-form-field appearance="fill" class="w-full px-1">
                    <mat-label>Rendimento</mat-label>
                    <input class="w-full" matInput formControlName="serving" type="text">
                </mat-form-field>
            </div>


            <div class="flex flex-col sm:flex-row"> 
                <!-- Weight Quantity -->
                <mat-form-field appearance="fill" class="w-full px-1">
                    <mat-label>Quantidade de Peso</mat-label>
                    <input class="w-full" matInput formControlName="weightQuantity" type="number">
                </mat-form-field>
    
                <!-- Weight Unit -->
                <mat-form-field appearance="fill" class="w-full px-1">
                    <mat-label>Unidade de Peso</mat-label>
                    <input class="w-full" matInput formControlName="weightUnit" type="text">
                </mat-form-field>
            </div>

            <div class="flex flex-col sm:flex-row">
                <!-- Volume -->
                <mat-form-field appearance="fill" class="w-full px-1">
                    <mat-label>Volume</mat-label>
                    <input class="w-full" matInput formControlName="volume" type="number">
                </mat-form-field>
    
                <!-- Price -->
                <mat-form-field appearance="fill" class="w-full px-1">
                    <mat-label>Preço</mat-label>
                    <input class="w-full" matInput formControlName="price" type="number">
                </mat-form-field>
            </div>

            <!-- Product Type -->
            <mat-form-field appearance="fill" class="w-full px-1">
                <mat-label>Tipo de Produto</mat-label>
                <mat-select formControlName="productType">
                    <mat-option value="REGULAR">Regular</mat-option>
                    <mat-option value="IFOOD">IFood</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="flex flex-col sm:flex-row">  
                <!-- Images Upload -->
                <div (click)="fileUpload.click()" class="flex items-center justify-center w-full flex-col">
                    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 ">
                        <div class="justify-center font-bold mb-2 text- text-xl text-gray-800 ">Imagens</div>
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <mat-icon class="text-gray-500 " aria-hidden="true">
                                cloud_upload
                            </mat-icon>
                            <input #fileUpload type="file" multiple (change)="onMultipleFilesSelected($event)" class="hidden"  />
                            <p class="mb-2 text-sm text-gray-500 "><span class="font-semibold">Click para escolher</span> ou arraste e solte</p>
                            <p class="text-xs text-gray-500 ">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                        </div>
                    </label>
                </div> 
                
            </div>

                <div class="flex flex-row items-center justify-center mt-6">
                    <button mat-raised-button color="accent"  class="!w-full !text-xl" (click)="back()"  >
                        Voltar
                    </button>
                    <app-spinner-button  class="!w-full !text-xl"  [isLoading]="isLoading" [type]="'submit'">
                        Salvar
                    </app-spinner-button>
                </div>
            </form>
        </div>    
    </div>
</app-default-form-container>