<h1 mat-dialog-title>Copiar Complemento(s)</h1>

<mat-tab-group [(selectedIndex)]="selectedTab">
  <mat-tab label="Itens">
    <mat-selection-list>
      <mat-list-option *ngFor="let item of itemsWithGroups"
                       (click)="selectedItem = item"
                       [selected]="selectedItem?.id === item.id">
        {{ item.product.name }} ({{ item.optionGroups?.length || 0 }} grupos)
      </mat-list-option>
    </mat-selection-list>

    <div class="mt-4 flex justify-end">
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary"
              [disabled]="!selectedItem"
              (click)="copyAllFromItem(selectedItem!)">
        Copiar grupos do item
      </button>
    </div>
  </mat-tab>

  <mat-tab label="Grupos">
    <mat-selection-list>
      <mat-list-option *ngFor="let grp of optionGroups"
                       (click)="selectedGroup = grp"
                       [selected]="selectedGroup?.id === grp.id">
        {{ grp.name }}
      </mat-list-option>
    </mat-selection-list>

    <div class="mt-4 flex justify-end">
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary"
              [disabled]="!selectedGroup"
              (click)="copySingleGroup()">
        Copiar grupo
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
