@use '@angular/material' as mat;

$gray: mat.$gray-palette;

$green: mat.$green-palette;

$color-scale: (

);

$primary: (
    50: lighten(#0052c8ff, 50%),
    100: lighten(#0052c8ff, 40%),
    200: lighten(#0052c8ff, 30%),
    300: lighten(#0052c8ff, 20%),
    400: lighten(#0052c8ff, 10%),
    500: #0052c8ff,
    600: darken(#0052c8ff, 10%),
    700: darken(#0052c8ff, 20%),
    800: darken(#0052c8ff, 30%),
    900: darken(#0052c8ff, 40%),
    A100: mix(white, #0052c8ff, 60%),
    A200: mix(white, #0052c8ff, 40%),
    A400: mix(white, #0052c8ff, 20%),
    A700: mix(black, #0052c8ff, 20%),
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

// @debug $primary;


$accent: (
    50: lighten(#ff6600ff, 50%),
    100: lighten(#ff6600ff, 40%),
    200: lighten(#ff6600ff, 30%),
    300: lighten(#ff6600ff, 20%),
    400: lighten(#ff6600ff, 10%),
    500: #ff6600ff,
    600: darken(#ff6600ff, 10%),
    700: darken(#ff6600ff, 20%),
    800: darken(#ff6600ff, 30%),
    900: darken(#ff6600ff, 40%),
    A100: mix(white, #ff6600ff, 60%),
    A200: mix(white, #ff6600ff, 40%),
    A400: mix(white, #ff6600ff, 20%),
    A700: mix(black, #ff6600ff, 20%),
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);
$warn: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);