<div class="bg-white">
  <div class="relative isolate px-6 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#24243c] to-[#24243c] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl py-16 sm:py-20">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div class="relative rounded-full px-3 py-1 text-sm/6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
          A solução completa para seu restaurante. <p class="font-semibold text-primary-600"><span class="absolute inset-0" aria-hidden="true"></span>Conheça agora <span aria-hidden="true">&rarr;</span></p>
        </div>
      </div>
      <div class="text-center">
        <h1 class="text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">
          Sistema Completo para Restaurantes com PDV, Cardápio Online e Entregas Inteligentes
        </h1>
        <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">
          A <strong>RotaFood</strong> oferece um sistema integrado para gestão de restaurantes com ponto de venda (PDV), cardápio digital, controle de pedidos e entregas. 
          Além disso, nosso sistema inclui um avançado módulo de <strong>roteirização de entregas</strong> para otimizar o trabalho dos entregadores e reduzir o tempo de entrega.
        </p>
        <div class="mt-10 flex flex-col sm:flex-row items-center justify-center gap-y-4 sm:gap-x-6">
          <button
            routerLink="/register"
            class="!sm:text-xl !font-bold w-full sm:w-auto"
            mat-raised-button
            color="primary"
          >
            30 DIAS de GRAÇA
            <mat-icon class="!scale-150" color="white">monetization_on</mat-icon>
          </button>
          <button
            routerLink="/routing"
            class="!sm:text-xl !font-bold w-full sm:w-auto"
            mat-stroked-button
            color="primary"
          >
            Sobre Rotas
            <mat-icon class="!scale-150" color="primary">map</mat-icon>
          </button>
        </div>          
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#24243c] to-[#24243c] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
</div>
