<div class="bg-white overflow-hidden relative flex flex-col sm:flex-row">
    <!-- Text Section -->
    <div class="text-start flex flex-col justify-center w-full sm:w-1/2 px-4 sm:px-6  lg:px-8 z-20">
        <h2 class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl">
            <span class="block text-gray-900">
                Você quer economizar em suas ROTAS?
            </span>
            <span class="block text-primary-500">
                Comece utilizar o RotaFood hoje!
            </span>
        </h2>
        <div class="lg:mt-0 lg:flex-shrink-0">
            <div class="mt-12 inline-flex rounded-md shadow">
                <div class="flex flex-row justify-around">
                    <button mat-raised-button color="accent" class="!p-5 !sm:p-7 mr-1 !text-lg !font-medium" routerLink="/routing">Roterizador</button>
                    <button mat-raised-button color="primary" class="!p-5 !sm:p-7 !text-lg !font-medium"    routerLink="/register">Criar Conta</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Image Section -->
    <div class="top-0 right-0 h-full w-full sm:max-w-1/2 lg:block">
        <img class="rounded-2xl p-2 " alt="coming-soon" src="assets/images/veicle-routine-map.png">
    </div>
</div>
