
<form [formGroup]="testRoutineForms" (keydown.enter)="$event.preventDefault()" class="flex flex-col items-center mt-6 space-y-4 rounded-lg p-4 shadow-lg">
    <div class="">
        <h2 class="text-2xl font-bold sm:text-3xl ">Formulário de Teste de Roterização</h2>
        <p class="mt-4 text-gray-500 text-start">
            Escolha o número de pontos e algum endereço, depois veja o gráfico! <br/>
            Distancias e rotas pelas vias disponíveis apenas para <strong>Limeira-SP</strong>.

        </p>
    </div>
    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Número de Pedidos</mat-label>
        <input class="w-full" matInput placeholder="10" type="number" formControlName="numberOfOrders" >
        <mat-error *ngIf="testRoutineForms.controls.numberOfOrders.hasError('required')">
            Voce esqueceu de colocar o número de pontos.
          </mat-error>
          <mat-error *ngIf="testRoutineForms.controls.numberOfOrders.hasError('min')">
            Minimo de 5 pedidos.
          </mat-error>
          <mat-error *ngIf="testRoutineForms.controls.numberOfOrders.hasError('max')">
            Máximo de 500 pedidos.
          </mat-error>
    </mat-form-field>
    
    
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="loading" class="!py-5 !w-10/12">
      <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
      <span *ngIf="!loading">Gerar Rotas</span>
    </button>
</form> 