<div class="table-container px-3 sm:px-32 pt-5 max-w-full overflow-auto">

    <!-- Loading Spinner -->
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  
    <!-- Tabs de Catálogos -->
        <div class="categories-container mt-8 space-y-8 min-h-[10vh]">
          
          <!-- Cabeçalho Categorias -->
          <div class="flex justify-between">
            <h2 class="font-bold text-3xl text-primary-500">Categorias</h2>
            <button mat-button (click)="updateOrCreateCategory()">
              Adiciona Categoria <mat-icon>add_circle</mat-icon>
            </button>
          </div>
          
          <mat-card *ngFor="let category of categories" class="p-4">
            <h1 class="text-2xl font-bold mb-4 flex items-center justify-between">
              {{ category.name }}
              <button
                *ngIf="category.template !== 'PIZZA'"
                mat-button
                color="primary"
                (click)="createItemPreparedOrInstructedDialog({ item: null, categoryId: category.id })"
              >
                <mat-icon class="mr-1">add_circle</mat-icon> Adicionar Item
              </button>
            </h1>
          
            <!-- Mat Table -->
            <table
              mat-table
              [dataSource]="category.template === 'PIZZA' ? getToppingOptions(category) : category.items"
              class="w-full"
            >
              <!-- Imagem -->
              <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Imagem </th>
                <td mat-cell *matCellDef="let item">
                  <img
                    [src]="item.product?.imagePath ? item.product.imagePath : 'assets/images/placeholder.png'"
                    alt="{{ item.product?.name }}"
                    class="w-20 h-20 object-cover rounded"
                  />
                </td>
              </ng-container>
          
              <!-- Nome -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let item">
                  <div class="font-semibold">{{ item.product?.name }}</div>
                </td>
              </ng-container>
          
              <!-- Preço -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Preço </th>
                <td mat-cell *matCellDef="let item">
                  <ng-container *ngFor="let cm of item.contextModifiers">
                    <div class="flex h-full pt-5 items-baseline">
                      <mat-slide-toggle class="pr-3" [checked]="cm.status === 'AVALIABLE'">
                        {{ cm.status === 'AVALIABLE' ? 'Ativado' : 'Pausado' }}
                      </mat-slide-toggle>
                      <div class="flex h-full items-baseline">
                        <mat-form-field appearance="fill">
                          <mat-label>Preço {{catalogContextToString(cm.catalogContext)}}</mat-label>
                          <input
                            matInput
                            type="text"
                            [value]="formatPrice(cm.price?.value)"
                            (input)="onPriceChange(item, cm, $event.target)"
                            placeholder="Digite o preço"
                          />
                        </mat-form-field>
                        
                      </div>
                    </div>
                  </ng-container>
                </td>
              </ng-container>
          
              <!-- Ações -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let item">
                  <button
                    mat-icon-button
                    (click)="updateOrCreateItemDefault({ item: item, categoryId: category.id })"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    (click)="deleteItem({ item: item, categoryId: category.id })"
                    matTooltip="Deletar item"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
          
              <!-- Header e Row -->
              <tr mat-header-row *matHeaderRowDef="['image', 'name', 'price', 'actions']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['image', 'name', 'price', 'actions']"></tr>
            </table>
          </mat-card>
          
          
        </div>
  </div>
  